[Unit]
Description=Wipi Flask Wi-Fi Portal
After=NetworkManager.service wipi-autohotspot.service
Wants=NetworkManager.service wipi-autohotspot.service

[Service]
Type=simple
WorkingDirectory=/home/pi/wipi
ExecStart=/home/pi/wipi/venv/bin/gunicorn --workers 1 --bind 0.0.0.0:80 app:app
Restart=always
RestartSec=5
User=root

[Install]
WantedBy=multi-user.target